<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
    $(document).ready(function () {
        $('#invite').click(function () {
            $('#invite-form').slideToggle();
        })
    })

    function reInvitePop(id, name, email){
        $(document).ready(function(){
            $('#re-invite').toggle();
            console.log(name +" "+email)
            $('#name').val(name);
             $('#email').val(email);
             $('#uid').val(id);
        })
    }
</script>


<div class="pull-right">
    <button id='invite' class="btn btn-warning">Send invitation</button>
</div>
<div id='invite-form' style="display:none">
    <form action="/sa/invite" method="post">
        <h3>Send Invitation</h3>
        <div class="col-md-4">
            <input type="text" class="form-control" name="name" placeholder="Name" required>
        </div>
        <div class="col-md-4">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>

        <button class="btn btn-default" type="submit">Invite</button>
    </form>
</div>


<br>
<br>
<h2 class="page-header">User List</h2>

<div>
    <table id="userTable">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr id="{{_id}}">
                <td>{{serial @index}}</td>
                <td id ='{{_id}}name'>{{name}}</td>
                <td id='{{_id}}email'>{{email}}</td>
                <td>
                    <label class="switch">
                        <input id="status-toggle" type="checkbox" {{changeColor active}}>
                        <span class="slider" onclick="toggleStatus('{{_id}}','{{active}}')"></span>
                    </label>
                    {{!--
                    <span style="background-color:{{changeColor active}}">{{active}}</span> --}}
                </td>
                <td>
                    <button class="btn btn-info" onclick="reInvitePop('{{_id}}','{{name}}', '{{email}}')" {{disableReInvite active}}>Re-invite</a>
                </td>
                <td>
                    <button class="btn btn-warning" onclick="deleteUser('{{_id}}')">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
<!--reinvittation email dialog box-->
    {{>re-invitation-dialog}}
</div>